.button
{
    -fx-background-color: #F6C4C3;
    -fx-font-family: "Algerian" ;
    -fx-font-size: 12px ;
    -fx-text-fill: black ;
}

.text-field
{
    -fx-background-color: #233142 ;
    -fx-font-family: "Comic Sans MS" ;
    -fx-font-size: 13px ;
    -fx-text-fill: white ;
}

.label
{
    -fx-font-family: "Algerian" ;
    -fx-text-fill: white ;
    -fx-font-size: 15px ;
}

#header_style
{
    -fx-font-family: "Algerian" ;
    -fx-font-size: 25px ;
    -fx-font-weight: bold ;
}

#warning_style
{
    -fx-text-fill: red ;
    -fx-font-family: "Comic Sans MS" ;
    -fx-font-size: 15px ;
}