.label
{
    -fx-text-fill: white ;
    -fx-font-family: "Helvetica" ;
    -fx-font-size: 18px ;
}
.text-field
{
    -fx-background-color: #393e46;
    -fx-text-fill: white ;
    -fx-font-family: "Comic Sans MS" ;
    -fx-font-size: 18px ;
}

#header_style
{
    -fx-font-family: "Algerian" ;
    -fx-font-size: 22px;
    -fx-background-color: maroon;
}
.button
{
    -fx-border-width: 1px;
    -fx-background-color: #F6C4C3 ;
    -fx-font-family: "Algerian" ;
    -fx-font-size: 14px ;
    -fx-text-fill: black;
}
